

.circle {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.large {
  font-size: 120%;
}

.h3 {
  font-family: Noto Serif;
}

.small-font {
  font-size: 85%;
}

.tiny {
  font-size: 66%;
}
.remark-slide-content {
    font-size: 1.3rem
}

.opacity {opacity: .80
  }

.transparent {
  color: rgba(0, 0, 0, 0.5);
}