

.circle {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.large {
  font-size: 120%;
}

.tiny {
  font-size: 66%;
}
.remark-slide-content {
    font-size: 1.3rem
}


.transparent {
  color: rgba(0, 0, 0, 0.5);
}